.about{
    h2{
        margin-bottom: 2rem;
    }
    .styled-list ul{
        list-style: none;
        li{
            position: relative;
            margin-bottom: 3rem;
            &::before{
                background-image: url("../img/list-icon.svg");
                content: "";
                background-repeat: no-repeat;
                background-size: 100% 100%;
                position: absolute;
                top: .3rem;
                left: -3.5rem;
                width: 2.5rem;
                height: 2.5rem;
            }
        }
    }
    &__header{
        padding-bottom: 10rem;
    }
    &_sect--txt{
        @extend .condensed;
        letter-spacing: 0.04rem;
    }

    .goals{
        padding: 13rem 0;
        &__bg{
            background-image: url("../img/amonite.svg");
            background-repeat: no-repeat;
            background-position: -11rem 5rem;
            // height: 71rem;
            // width: 57rem;

        }
        .styled-list{
            @extend .condensed;
            letter-spacing: 0.04rem;
            font-size: 2.4rem;
            @include media-breakpoint-down(sm){
                padding-left: 2rem;
            }
        }
    }
    .teams{
        margin-top: 4rem;
        padding-bottom: 3rem;
        @include media-breakpoint-down(sm){
            h2{
                padding-left: 2rem;
            }
        }
        &__cont{
            position: relative;
            z-index: 40;
            padding-bottom: 7rem;
            @include media-breakpoint-down(sm){
                padding-bottom: 10rem;
            }
        }
        &__icon{
            position: absolute;
            top: -7rem;
            left: -7rem;
            z-index: -1;
            @include media-breakpoint-down(sm){
                left: 0rem;
            }
        }

    }
    .inter{
        padding-bottom: 10rem;
        &__associations{
            padding: 5rem 0;
            align-items: stretch;
            &--cont{
                display: flex;
                flex-direction: column;
                justify-content: space-between;
                padding-bottom: 2rem;
                @include media-breakpoint-down(lg){
                }
            }
            @include media-breakpoint-down(sm){
                padding-left: 2rem;
            }
            &--txt{

            }
        }
    }
    .producers{
        padding: 12rem 0;
        .producer{
            width: 22rem;
            height: 22rem;
            background-color: #fff;
            border-radius: $border-radius;
            display: flex;
            flex-direction: column;
            justify-content: space-around;
            align-items: center;
            padding: 1rem;
            &__col{
                margin-bottom: 1.5rem;
                &:last-child{
                    @media (min-width:1399.98px){
                        margin-right: 9%;
                    }
                }
            }
            @include media-breakpoint-down(sm){
                width: 20rem;
                height: 20rem;
            }
        }
    }

    .amonit{
        background-image: url("../img/amonite_bg.png");
        display: flex;
        // justify-content: flex-end;
        align-items:center;
        background-repeat: no-repeat;
        background-size: cover;
        background-position: 40%;
        padding: 4rem 0;
        height: 64rem;
        border-radius: 2rem;
        // background-position: -30rem center;
    }
    .history{
        padding: 15rem 0;
        .row{
            @include media-breakpoint-down(sm){
                padding-left: 1rem;
                padding-right: 1rem;
            }
        }
        &__eras{
            position: relative;
            padding-top: 9rem;
            &--cont{
                padding-top: 8rem;
                margin-top: 4rem;
                position: relative;
                z-index: 15;
                // padding-right: 6rem;
                @include media-breakpoint-down(lg){
                    padding-left: 3rem;
                }
                &::before{
                    content: "";
                    position: absolute;
                    top: 0;
                    left: 0;
                    transform: translate(-40%,1rem);
                    width: 9rem;
                    height: 9rem;
                    border: 10px solid #EDF1F3;
                    background-color: #fff;
                    border-radius: 50%;
                    z-index: -1;
                }
            }
            &>div:not(:last-child)>div::after{
                content: "";
                position: absolute;
                top: 0;
                left: 0;
                transform: translate(0,5rem);
                width: 100%;
                height: 1rem;
                background-color: #EDF1F3;
                // border: 10px solid #EDF1F3;
                // border-radius: 50%;
                z-index: -2;
                @include media-breakpoint-down(lg){
                    height: 100%;
                    width: 1rem;
                    transform: translate(0.5rem,9rem);

                }
            }
            
            &--title{
                color: $secondary;
                padding-bottom: 3rem;
            }
            // &--txt{

            // }
        }
    }
    .news{
        padding-top: 5rem;
    }
    &__footer{
        font-size: 1.7rem;
        line-height: 2;
    }
    b,strong{
        font-weight: 500;
    }        
    p{
        @extend .condensed;
        letter-spacing: 0.04rem;
    }
}