.home{
    background-color: $light;

    &__hero{
        @include media-breakpoint-down(xl){
            margin-bottom: 4rem;
        }
        &--intro{
            display: flex;
            align-items: flex-start;
            flex-direction: column;
            justify-content: space-evenly;
            position: relative;
            z-index: 10;
            @include media-breakpoint-down(xl){
                min-height: 40rem;
            }
            &:before{
                content: "";
                position: absolute;
                background-image: url("../img/amonite.svg");
                background-size: cover;
                left: 0;
                bottom: 0;
                width: 51rem;
                height: 41rem;
                z-index: -1;
                transform: translateX(-25rem);
            }

        }
        h1{
            span{
                font-weight: 500;
            }
        }
        &--txt{
            @extend .condensed;
            letter-spacing: 0.04rem;
            font-size: 2.4rem;
            line-height: 1.7;
        }
        &--link{
            display: flex;
            align-items: center;
            gap: 2rem;
            line-height: 1;
            transition: $transition;
            font-weight: 600;
            svg, g, path{
                stroke: $primary;
                transition: $transition;
            }
            &:hover{
                color: $secondary;
                svg, g, path{
                    stroke: $secondary;
                }

            }
        }
    }
    &__carousel{
        position: relative;
        z-index: 20;
        @include media-breakpoint-down(xl){
            margin-bottom: 4rem;
        }
        .carousel-inner{
            max-width: 115.5rem;
            width: 100%;
            // height: 56rem;
            aspect-ratio: 2 / 1;
            @include media-breakpoint-up(xxl){
                width: 135%;
            }
            border-radius: 3.5rem;
            .carousel-item{
                height: 100%;
            }
            img{
                height: inherit;
                object-fit: cover;
                object-position: center center;
            }
        }
        .carousel-nav{
            min-width: 20rem;
            height: 6rem;
            background-color: #fff;
            position: absolute;
            bottom: 1rem;
            left: 1rem;
            border-radius: 3rem;
            display: flex;
            align-items: center;
            // z-index: 1;

        }
        .carousel-control-next, .carousel-control-prev {
            position: relative;
            z-index: 10;
            width: 6rem;
            height: 6rem;
            display: flex;
            align-items: center;
            justify-content: center;
        }
        .carousel-control-next{
            padding-right: 1rem;
        }
        .carousel-control-prev{
            padding-left: 1rem;
        }
        .carousel-indicators {
            position: relative;
            border-radius: 3rem;
            margin: 0 auto;
            align-items: center;
            height: 100%;
            button{
                border-radius: 50%;
                height: 1.4rem;
                width: 1.4rem;
                border: 2px solid $dark;
                background-color: #fff;
                opacity: 1;

                &.active{
                    background-color: $dark;
                }
            }
        }
        .carousel-control-next-icon {
            background-image: url("../img/chev-right.svg");
        }
        .carousel-control-prev-icon {
            background-image: url("../img/chev-right.svg");
            transform: rotate(180deg);
        }
    }
    &__cats{
        &--row{
            position: relative;
            z-index: 15;
            padding: 5rem 0;
            @include media-breakpoint-down(md){
                justify-content: center;
            }
        }
        &--wrap{
            display: flex;
            align-items: center;
            justify-content: center;
        }
        display: flex;
        align-items: center;
        flex-direction: column;
        justify-content: center;
        text-align: center;
        font-size: 2.2rem;
        border-radius: $border-radius;
        border: 2px solid $border-light;
        width: 22.6rem;
        height: 22.6rem;
        margin-right: 1.40rem;
        margin-top: 1.40rem;
        padding: 2rem;
        line-height: 1.0;
        @extend .condensed;
        font-weight: 500;
        i{
            padding-bottom: 2.8rem;
        }
        &:last-child{
            @include media-breakpoint-up(xxl){
                margin-right: 0;
            }
        }
    }
    &__find{
        background-color: $primary;
        color: #fff;
        position: relative;
        z-index: 12;
        border: none;
        &::before{
            content: "";
            background-color: $primary;
            border-radius: $border-radius;
            height: 100%;
            position: absolute;
            width: 60rem;
            top: 0;
            left: 0;
            z-index: -1;
            transition: $transition;

        }
        &:hover{
            color: #fff;
            &::before{
                background-color: $secondary;
            }
        }
    }

    .products{
        position: relative;
        z-index: 105;
        padding-bottom: 5rem;
        &__title{
            padding: 20rem 0 7rem 0;
        }
        &__button{
            background-color: #fff;
            position: relative;
            z-index: 20;
            font-size: 1.8rem;
            color: $dark;
            font-weight: 500;
            line-height: 1;
            @extend .condensed;
            letter-spacing: 0.04rem;
            box-shadow: $box-shadow;
            border-radius: $border-radius;
            height: 14rem;
            padding: 2.5rem 3rem 2rem 2rem;
            margin-top: 2rem;
            position: relative;
            background-repeat: no-repeat;
            background-size: auto;
            background-position: 90% 14%;
            transition: $transition;
            &::after{
                content: "";
                background-image: url('../img/plus.svg');
                width: 2rem;
                height: 2rem;
                bottom: 2rem;
                left: 2rem;
                position: absolute;
            }
            &:hover{
                box-shadow: $box-shadow-darker;
            }
        }

        &:before{
            content: "";
            position: absolute;
            background-image: url("../img/amonite.svg");
            background-size: cover;
            right: 0;
            width: 57rem;
            height: 71rem;
            z-index: -1;
            transform: translate(35rem, 23rem);
        }
    }
}