.container--front{
    margin: 2rem;
    border-radius: $border-radius;
    background-color: #fff;
    position: relative;
    // max-width: 1880px;
}




.button__aux{
    background-color: $primary;
    // margin-top: 5rem;
    margin-bottom: 10rem;
    border-radius: 5.4rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #fff;
    font-weight: 600;
    padding: 1rem 1rem 1rem 5rem;
    transform: translate(0,50%);
    transition: $transition;
    &>div>span{
        @extend .condensed;
        letter-spacing: 0.04rem;
        font-size: 3rem;
        color: #fff;
        font-weight: 500;
    }
    i{
        padding-right: 4rem;
    }
    .chevron_btn{
        margin-left: 1rem;
        svg, g, path{
            stroke: $primary;
        }
    }
    &:hover{
        background-color: $secondary;
        .chevron_btn{
            svg, g, path{
                stroke: $secondary;
            }
        }
    }
    @include media-breakpoint-down(sm){
        justify-content: center;
        flex-wrap: wrap;
        padding-left: 3rem;
        span{
            font-size: 2rem;
        }
    }
}
.chevron_btn{
    background-color: #fff;
    padding: 1rem;
    border-radius: 50%;
    width: 7rem;
    height: 7rem;
    display: flex;
    align-items: center;
    justify-content: center;
    // margin-left: 1rem;
    svg{
        transform: translateX(0.2rem);
    }
}
.chevron_btn--left{
    svg{
        transform: rotate(180deg) translateX(0.2rem);

    }
}
.padding-cta{
    padding-bottom: 10rem;
}

.btn-white{
    background-color: #fff;
    border-radius: 2rem;
    outline: none;
    box-shadow: none;
    text-transform: uppercase;
}

@mixin make-container($padding-x: $container-padding-x) {
    width: 1846px;
    padding-right: $padding-x;
    padding-left: $padding-x;
    margin-right: auto;
    margin-left: auto;
  }
  
  // Usage
  .container--front {
    @include make-container(0px);
  }