.products_and_producers{
p{
    @extend .condensed;
    letter-spacing: 0.04rem;
}
.products{
    &__news{
        padding-top: 5rem;
    }
    &__wrap{
        padding-bottom: 15rem;
    }
    &__sect{
        &--title{
            padding-bottom: 3rem;
        }
        &--txt{
            padding-bottom: 8rem;
        }
    }
    .product{
        position: relative;
        padding-bottom: 5rem;
        z-index: 40;
        &::before{
            position: absolute;
            content: "";
            mask-image: var(--product-icon);
            mask-size: contain;
            mask-repeat: no-repeat;
            background-color: #EDF1F3;
            // opacity: 0.3;
            left: 0;
            top: 5rem;
            transform: translate(-50%, 50%);
            width: 16rem;
            height: 24rem;
            z-index: -1;
        }
        &__mark{
            padding: 2.5rem 0 2.5rem 2.5rem;

        }
        &__title{
            font-size: 4rem;
            font-weight: 700;
            letter-spacing: 0.01rem;
            line-height: 1.1;
        }
        &__txt{
            font-size: 2rem;
            letter-spacing: 0.04rem;
            line-height: 1.4;
            @include media-breakpoint-up(lg){
                padding-left: 11rem;
            }
        }
        &__img{
            border-radius: 2rem;
        }
        &:nth-child(odd){
            margin-top: 5rem;
        }
        &:nth-child(even){
            margin-top: -5rem;
        }
    }
}

.producers{
    padding: 10rem 0;
    &__sect{
        &--title{
            padding-bottom: 3rem;
        }
        &--txt{
            padding-bottom: 8rem;
        }
    }
    .producer{
        background-color: #fff;
        border-radius: 2rem;
        padding: 3rem 1rem 1.6rem 3rem;
        // height: 100%;
        min-height: 30rem;
        display: flex;
        align-items: flex-start;
        justify-content: space-between;
        flex-direction: column;
        &__col{
            margin-bottom: 1rem;
            &:nth-child(odd){
                margin-top: -6rem;
                // margin-bottom: 4rem;
            }
            // &:nth-child(even){
                // margin-top: 4rem;
                // margin-bottom: 4rem;
            // }
        }
        &__txt{
            font-size: 1.7rem;
        }
        &__row{
            padding: 4rem 0;
            // gap: 0.5rem;
            // align-items: stretch;
        }
        &__btn{
            margin: 0 auto;
            transform: translateX(-1rem);
        }
    }
}
strong{
    font-weight: 500;
}
}