html {
    font-size: 62.5%; //1rem = 10px
    overflow-x: hidden;
    background-color: $light;
    color: $dark;
}

body {
    font-size: 2rem;
    overflow-x: hidden;
    background-color: $light;
    color: $dark;
    // line-height: 1.7;
    letter-spacing: 0.04rem;
}

h1,h2.big{
    font-size: 7.2rem;
    font-weight: 700;
}

h2{
    font-size: 6.2rem;
    font-weight: 700;
}

.text-center{
    text-align: center;
}

.color-dark{
    color: $dark;
}
.color-grey{
    color: $grey;
}
.color-primary{
    color: $primary;
}
.color-secondary{
    color: $secondary;
}
.color-white{
    color: #fff;
}
.color-black{
    color: #000;
}
.bg-primary{
    background-color: $primary;
}

.subtitle{
    font-size: 3rem;
    letter-spacing: 0.01rem;
    color: $grey;
}

.btn{
    font-size: 1.5rem;
    font-weight: 600;
    letter-spacing: 0.01rem;
    line-height: 1;
    border-radius: 2.6rem;
    padding: 1rem 3rem 1.3rem;
}
.btn-primary{
    color: #fff;
    background-color: $primary;
    &:hover{
        color: #fff;
    }
}