html {
    font-size: 62.5%; //1rem = 10px
    overflow-x: hidden;
    background-color: $light;
}

body {
font-size: 2rem;
overflow-x: hidden;

// line-height: 1.7;
letter-spacing: 0.04rem;
}

h1,h2.big{
    font-size: 7.2rem;
    font-weight: 700;
}

h2{
    font-size: 6.2rem;

}


.color-dark{
    color: $dark;
}
.color-grey{
    color: $grey;
}
.color-primary{
    color: $primary;
}
.color-white{
    color: #fff;
}
.color-black{
    color: #000;
}
.bg-primary{
    background-color: $primary;
}
