$dark: #272924;
$light: #F6F6F6;
$primary: #9FB7C2;
$secondary: #95C11F;
$grey: #6B6B6B;
$border-light: #EFEFEF;

$navbar-dark-color: rgba(255,255,255, 1);
$navbar-dark-hover-color: $grey;
$navbar-dark-disabled-color: rgba(255,255,255, 0.3);
$navbar-dark-active-color: $dark;



$transition: 0.2s ease-in-out;
$border-radius: 2.7rem;

